# Extracting Data from Twitter CSV using Pandas

Using Pandas we will create a DataFrame of twitter data `(tweets.csv)`. 

* First, we'll proceed to write a function that retuns a dictionary containing `languages` as keys and the number of times a tweet was written in a given language as values. 

* Next, we will go further and write a more general function that processes a DataFrame and returns a dictionary with counts of occurrences in `ANY column` at all. And that by default will process the column containing languages.

* We will then generalize the previous function so that we can pass the function a Dataframe and `ANY number of column names` to perform the computation on an `arbitrary` number of columns.

## Importing Data

In [4]:
# Importing dependencies

import pandas as pd

In [5]:
# Import Twitter data as DataFrame: df
tweets_df = pd.read_csv('tweets.csv')

## Visualizing Data

* Usando el mÃ©todo `.head ()` para verificar los tipos de datos, nÃºmero de filas y mÃ¡s:

In [6]:
tweets_df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [7]:
print("Column Headers: ", list(tweets_df), sep="\n")

Column Headers:
['contributors', 'coordinates', 'created_at', 'entities', 'extended_entities', 'favorite_count', 'favorited', 'filter_level', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'place', 'possibly_sensitive', 'quoted_status', 'quoted_status_id', 'quoted_status_id_str', 'retweet_count', 'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms', 'truncated', 'user']

* Using the method `.info ()` to verify the type of data, number of rows and more:

In [8]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
contributors                 0 non-null float64
coordinates                  0 non-null float64
created_at                   100 non-null object
entities                     100 non-null object
extended_entities            20 non-null object
favorite_count               100 non-null int64
favorited                    100 non-null bool
filter_level                 100 non-null object
geo                          0 non-null float64
id                           100 non-null int64
id_str                       100 non-null int64
in_reply_to_screen_name      11 non-null object
in_reply_to_status_id        8 non-null float64
in_reply_to_status_id_str    8 non-null float64
in_reply_to_user_id          11 non-null float64
in_reply_to_user_id_str      11 non-null float64
is_quote_status              100 non-null bool
lang                         100 non-null object
place                        3 non-null object
possibly_sensitive           72 non-null object
quoted_status                14 non-null object
quoted_status_id             14 non-null float64
quoted_status_id_str         14 non-null float64
retweet_count                100 non-null int64
retweeted                    100 non-null bool
retweeted_status             62 non-null object
source                       100 non-null object
text                         100 non-null object
timestamp_ms                 100 non-null int64
truncated                    100 non-null bool
user                         100 non-null object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [9]:
tweets_df[['lang']]

   lang
0    en
1    en
2    et
3    en
4    en
5    en
6    en
7    en
8    en
9    en
10   en
11   en
12   en
13   en
14   en
15   en
16   en
17   en
18   en
19   en
20  und
21   en
22   en
23   en
24   en
25   en
26   en
27   en
28   en
29  und
..  ...
70   en
71   en
72   en
73   en
74   en
75   en
76   en
77   en
78   en
79   en
80   en
81   en
82   en
83   en
84   en
85   en
86   en
87   en
88   en
89   en
90   en
91   en
92   en
93   en
94   en
95   en
96   en
97   en
98   en
99   en

[100 rows x 1 columns]

## Extracting the Number of ocurrences of each Language

* We will define a function that will go through each entry under a column of a Dataframe and count how many times that entry appears

* This function has two **`parameters`** : `df` for the Dataframe and the string `col_name` for the column name 

* We will then extract the number of times each language appears under column `'lang'` by passing to the function the **`arguments`** : `tweets_df` and `'lang'`.

In [10]:
def count_entries1(df, col_name):
    """ Returns a dictionary with counts of ocurrences
        as value for each key. """
    
    # Initialize an empty dictionary: langs_count
    langs_count ={}

    # Extract 'lang' (language) column from DataFrame: col
    col = df[col_name]

    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1 to it:
        if entry in langs_count.keys():
            langs_count[entry] += 1

        # Else add the language t langs_count, set the value to 1
        else: 
            langs_count[entry] = 1
    
    return langs_count

* Assigning the result to variable `result` and printing the resulting dictionary with requested information

In [11]:
result = count_entries1(tweets_df, 'lang')

print(result)

{'en': 97, 'et': 1, 'und': 2}

## A more generalized function - Part 1

Now, we will write a more generalized version of the previous function that also processes a DataFrame **BUT** this time returns a dictionary with counts of occurrences in `ANY column`, with a `default argument` being the column containing languages (`'lang'`).

In [12]:
def count_entries2(df, col_name='lang'):
    """ Returns a dictionary with counts of occurrences as
        as value for each key. """
    
    # Initialize an empty dictionary: cols_count
    cols_count ={}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:
        
        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
        
        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
    
    def print_items(dic):
        """ Prints out the keys and values of a dictionary
            separated by a colon ':' """
        
        print("\nNUMBER OF ENTRIES IN COLUMN: '{}'\n".format(col_name.upper()))

        for key, value in cols_count.items():            
            print("{} : {} entries".format(key, value))
        
    # Return the cols_count dictionary
    return print_items(cols_count)

In [13]:
lang_result = count_entries2(tweets_df)
source_result = count_entries2(tweets_df, 'source' )

print(lang_result)
print(source_result)

NUMBER OF ENTRIES IN COLUMN: 'LANG'

en : 97 entries
et : 1 entries
und : 2 entries

NUMBER OF ENTRIES IN COLUMN: 'SOURCE'

<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a> : 24 entries
<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a> : 1 entries
<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a> : 26 entries
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a> : 33 entries
<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a> : 2 entries
<a href="http://www.google.com/" rel="nofollow">Google</a> : 2 entries
<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a> : 6 entries
<a href="http://linkis.com" rel="nofollow">Linkis.com</a> : 2 entries
<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a> : 2 entries
<a href="http://ifttt.com" rel="nofollow">IFTTT</a> : 1 entries
<a href="http://www.myplume.com/" rel="nofollow">PlumeÂ forÂ Android</a> : 1 entries
None
None

## A more generalized function - Part 2

We will generalize the function even further by allowing the user to pass it a flexible argument (`*args`), that is, in this case, as many column names as the user would like.

In [14]:
def count_entries3(df, *args):
    """ Returns a dictionary with counts of occurrences as
        as value for each key. """
    
    # Initialize an empty dictionary: cols_count
    cols_count ={}
    
    # Iterate over column names in args
    for col_name in args:
        
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:

            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1

            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
                
    for key, value in cols_count.items():            
        print("{} : {} entries".format(key, value))

In [15]:

new_result = count_entries3(tweets_df, 'lang', 'source')

print(new_result)

en : 97 entries
et : 1 entries
und : 2 entries
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a> : 24 entries
<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a> : 1 entries
<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a> : 26 entries
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a> : 33 entries
<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a> : 2 entries
<a href="http://www.google.com/" rel="nofollow">Google</a> : 2 entries
<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a> : 6 entries
<a href="http://linkis.com" rel="nofollow">Linkis.com</a> : 2 entries
<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a> : 2 entries
<a href="http://ifttt.com" rel="nofollow">IFTTT</a> : 1 entries
<a href="http://www.myplume.com/" rel="nofollow">PlumeÂ forÂ Android</a> : 1 entries
None

## Adding Error Handling functionality

* We write a `lambda function` and use `filter()` to select only `retweets`, that is, tweets that begin with the string `'RT'`
* To get the first 2 characters in a tweet `x`, we use `x[0:2]`
* To check equality, use a Boolean filter with `==`

In [28]:
# Select retweets from the Twitter DataFrame

result = filter( lambda x: x[:2]=='RT' , tweets_df['text']) 

# Create list from filter object result: res_list
res_list = list(result)

# Print all retweets in res_list
for tweet in res_list:
    print(tweet)

RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/â€¦
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:â€¦
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  httpsâ€¦
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/â€¦
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  httpsâ€¦
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearlyâ€¦
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET httpsâ€¦
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/â€¦
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://â€¦
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET httpsâ€¦
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://â€¦
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearlyâ€¦
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9Nâ€¦
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9Nâ€¦
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/â€¦
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethinkðŸ¤” httpâ€¦
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's nâ€¦
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNNâ€¦
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will nâ€¦
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNNâ€¦
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:â€¦
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will nâ€¦
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:â€¦
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation Pâ€¦
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educatâ€¦
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation Pâ€¦
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educatâ€¦
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @Tâ€¦
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/â€¦
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didnâ€™t come out of nowhere." â€”Hillary
httpsâ€¦
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @Tâ€¦
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didnâ€™t come out of nowhere." â€”Hillary
httpsâ€¦
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/â€¦
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating tâ€¦
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating tâ€¦
RT @GlendaJazzey: Donald Trumpâ€™s Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if theyâ€™ll vote for Hillary against Trump. We got a plan to beat Trump already. Called Berâ€¦
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC